<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
 <!--       <script type="text/javascript" src="/js/jquery.mobile-1.4.5.min.js"></script> --> 
        <script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
        <script type="text/javascript" src="/js/dingtalk.js"></script>

    </head>

    <body>  
    	<a href="/index">success</a>
        <button id="scanQRCode">扫描二维码</button> 
    </body>

</html>